/* :root {
    --primary-color: rgb(11, 78, 179);
  } */
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
  } */
  /* Global Stylings */
  /* label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
  } */
  
  /* Progressbar */
  .progressbar-nutrients {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar-nutrients::before,
  .progress-nutrients {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress-nutrients {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-nutrients-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  






  .progress-nutrients-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-nutrients-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-nutrients-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }
  
  /* form-nutrients */
  .form-nutrients {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
  }
  
  .form-nutrients-step {
    display: none;
    transform-origin: top;
    /* animation: animate 0.5s; */
  }
  
  .form-nutrients-step-active {
    display: flex;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn-nutrients {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn-nutrients:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }

/* nutreints step code end */


/* lifestyle step Code start */


  /* Progressbar lifesyle */
  .progressbar-lifestyle {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar-lifestyle::before,
  .progress-lifestyle {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress-lifestyle {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-lifestyle-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-lifestyle-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-lifestyle-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-lifestyle-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }
  
  /* form-lifestyle */
  .form-lifestyle {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
  }
  
  .form-lifestyle-step {
    display: none;
    transform-origin: top;
    /* animation: animate 0.5s; */
  }
  
  .form-lifestyle-step-active {
    display: flex;
  }


  /* Button */
  
  .btn-lifestyle {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn-lifestyle:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }



  /* Progressbar lifesyle */
  .progressbar-hairscalp {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar-hairscalp::before,
  .progress-hairscalp {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress-hairscalp {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-hairscalp-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-hairscalp-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-hairscalp-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-hairscalp-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }
  
  /* form-hairscalp */
  .form-hairscalp {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
  }
  
  .form-hairscalp-step {
    display: none;
    transform-origin: top;
    /* animation: animate 0.5s; */
  }
  
  .form-hairscalp-step-active {
    display: flex;
  }


  /* Button */
  
  .btn-hairscalp {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn-hairscalp:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }











.error-check{
     border: solid 1px red;
     box-shadow: 0 0 3px rgba(255,0,0,0.5);
    }

    /* Style for disabled submit buttons */
#contact-submit:disabled {
    cursor: not-allowed; /* Change the cursor to "not allowed" */
}
.nav-link{
  justify-content: center;
}


.success{ color: #2CA701;}
.error{color:#FF0000;}

/* input[type="checkbox"]:not(:checked).error-check {
    border: solid 1px red;
} */



